/* brandingResult.css */
:root {
  --brandColor: #2d3436;
}

body {
  background: #f8f8f8;
}

.result-container {
  /* genkit-page-default */
  position: absolute;
  width: 100vw;
  height: 91.11vh;

  font-family: Pretendard;
}

/* 상단 소개글 스타일 */
.intro-section {
  /* text_set */
  position: absolute;
  width: 66.6667vw;
  /* 1280px → (1280/1920)*100vw */
  height: 13.6275vh;
  left: 16.6667vw;
  top: 16.2602vh;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.intro-title {
  /* title_text */
  position: static;
  /* 위치 속성 없음 → 변환 불필요 */
  width: 66.6667vw;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25vw;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;

  /* 폰트 스타일 */
  color: rgb(23, 23, 23);
  font-family: Pretendard;
  font-size: 2.1875vw;
  font-weight: 700;
  text-align: left;
}

.intro-text {
  /* description_text */
  position: static;
  width: 66.6667vw;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 20px;

  /* Description/Des-20-regular */
  color: rgb(137, 149, 171);
  font-size: 1.0417vw;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

/* 플랫폼 버튼 스타일 */
.platform-btn-list {
  /* button_list */
  position: absolute;
  height: 4.7059vh;
  left: 16.6667vw;
  top: 35.7039vh;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8333vw;
  padding: 0px;
}

.platform-btn {
  /* chip-button-01 */
  position: static;
  height: 48px;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5208vw;

  /* Inside Auto Layout */
  flex: none;
  flex-grow: 0;
  margin: 0 0.8333vw;

  background: #f8f8f8;
  border: none;
  border-radius: 36px;

  cursor: pointer;

  /* Typo */
  font-size: 17px; /* 🔹 텍스트 크기 20px */
  font-weight: 600; /* 🔹 Semibold 적용 */
  line-height: 120%;
  text-align: center;
  color: rgb(137, 149, 171);
}

.platform-btn.active {
  /* chip-button-01 */
  position: static;
  height: 4.7059vh;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.9804vh 1.25vw;

  /* Inside Auto Layout */
  flex: none;
  flex-grow: 0;
  margin: 0;

  border-radius: 36px;
  background: rgb(18, 29, 49);

  /* Typo */
  color: rgb(255, 255, 255);
}

/* 브랜딩 키드 */
.kit-box {
  /* background */
  position: absolute;
  width: 60.9375vw;
  height: 42.6353vh;
  left: 16.6666vw;
  top: 43.7398vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;
  /* White */
  background: rgb(255, 255, 255);
}

/* 컬러 팔레트 스타일 */
.color-palette {
  /* button_list */
  position: absolute;
  width: 3.8542vw;
  height: 39.5098vh;
  left: 79.4792vw;
  top: 43.8398vh;

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px;
}

.color-palette-icon {
  width: 48px;
  height: 48px;

  margin-bottom: 20px;
}

.color-chip {
  /* color-palette */
  width: 3.8542vw;
  height: 3.5549vh;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  border-radius: 7px;
  cursor: pointer;
}

.color-chip.active {
  /* color-palette */
  height: 7.2549vh;
}

.color-chip:hover {
  transform: scale(1);
}

/* 저장 버튼 하단 배치 */
.save-button {
  /* button-01 */
  position: absolute;
  width: 16.5vw;
  height: 5vh; /* 보통 5vh는 45px과 비슷한 크기 */

  left: 50%;
  bottom: -47px;
  transform: translate(-50%, 0);

  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5208vw;
  padding: 1.5686vh 4.1667vw;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0.5208vw 0;

  border: none;
  border-radius: 9px;
  /* Primary/Primary-01 */
  background: rgb(18, 29, 49);

  /* Typo */
  font-size: 1.05vw;
  font-weight: 600;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.save-button:hover {
  background: #434d50;
}

/* 팝업 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-save-content {
  /* 부모 컨테이너에 relative 추가 */
  position: relative;
  width: 53.125vw;
  max-height: 70vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.popup-close-button {
  position: absolute;
  /* 절대 위치 지정 */
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 3px 3px 0px 3px;
  border-radius: 5px;
  transition: all 0.3s;
}

.popup-close-button:hover {
  background: #eee;
}

.popup-intro1 {
  margin: 0;
  margin-top: 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #455473;
}

.popup-intro2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #455473;
}

.popup-back-button {
  width: 282px;
  height: 68px;
  margin: 40px;
  padding: 12px;
  background: #121d31;
  font-size: 18px;
  font-weight: 750;
  color: white;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

.popup-back-button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(258.21deg,
      #121d31 -85.49%,
      #0e1221 -58.12%,
      #455473 -30.76%,
      #8995ab -3.39%,
      #455473 39.61%,
      #0e1221 78.7%,
      #121d31 106.07%);
  animation: gradientMove 3s infinite linear;
}
