/* 배경 설정 */
.splash-body {
  font-family: Pretendard, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("../../assets/splash-background.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 전체 컨테이너 */
.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* ✅ 로고와 텍스트를 감싸는 그룹 */
.logo-wrapper {
  display: flex;
  align-items: center;
}

/* ✅ 로고 이미지 (처음에는 가운데 정렬) */
.splash-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ✅ 로고 이미지 */
.splash-logo {
  width: 120px;
  height: 121px;
}

/* ✅ 로고 텍스트 */
.logo-text {
  width: 250px;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* ✅ 메시지 스타일 */
.sp-message-container {
  color: rgb(69, 84, 115);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0%;
  margin-top: 34px;
  margin-bottom: 20px;
}

.message-line {
  margin-bottom: 10px;
  line-height: 90%;
}

.message-container strong {
  font-weight: bold;
  color: rgb(69, 84, 115);
}

/* 버튼 스타일 */
.button-group .btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 280px;
  height: 68px;
  background: #121d31;
  color: rgb(255, 255, 255);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    258.21deg,
    #121d31 -85.49%,
    #0e1221 -58.12%,
    #455473 -30.76%,
    #8995ab -3.39%,
    #455473 39.61%,
    #0e1221 78.7%,
    #121d31 106.07%
  );
  animation: gradientMove 3s infinite linear;
}
