.instagram-kit {
    position: absolute;
    width: 1080px; /* 15.9375vw → 1080px */
    height: 1080px; /* 29.6vh → 1080px */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: rgb(255, 255, 255);
}

/* ▦▦▦▦▦▦▦▦▦▦▦▦▦▦▦ 콘텐츠 영역 ▦▦▦▦▦▦▦▦▦▦▦▦▦▦▦ */
.instagram-kit-title {
    height: 209.62px; /* 5.8vh → 5.8×36.4865 */
    margin: 0;
    font-size: 67.8px; /* 1vw → 67.8px */
    font-weight: 700;
    line-height: 140%;

    text-align: center;
}

.name-highlight {
    font-weight: 720;
}

.instagram-kit-description {
    width: 881.4px; /* 13vw → 13×67.8 */
    height: 291.89px; /* 8vh → 8×36.4865 */
    margin-top: 0px;
    margin-bottom: 138.65px; /* 3.8vh → 3.8×36.4865 */
    font-size: 37.0px; /* 0.545vw → 0.545×67.8 */
    font-weight: 400;
    line-height: 165%;
}

/* ▦▦▦▦▦▦▦▦▦▦▦▦▦▦▦ 해시태그 영역 ▦▦▦▦▦▦▦▦▦▦▦▦▦▦▦ */
.instagram-hashtag-list {
    position: static;
    height: 82.39px; /* 2.8431vh → 2.8431×36.4865 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13.56px; /* 0.2vw → 0.2×67.8 */
    padding: 0px;
    flex: none;
    flex-grow: 0;
    margin-bottom: 29.19px; /* 0.8vh → 0.8×36.4865 */
}

.instagram-hashtag-chip {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25.12px; /* 0.3703vw → 0.3703×67.8 */
    padding: 7.3px 13.56px; /* 0.2vh/0.2vw → 0.2×36.4865 / 0.2×67.8 */
    flex: none;
    flex-grow: 0;
    border-radius: 2.5px;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 25.12px; /* 0.37vw → 0.37×67.8 */
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}