/* .linkedin-kit과 그 하위 모든 요소에만 border-box 적용 */
.linkedin-kit,
.linkedin-kit *,
.linkedin-kit *::before,
.linkedin-kit *::after {
  box-sizing: border-box;
}

.linkedin-kit {
    /* Fixed Dimensions */
    width: 1584px;
    height: 396px;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 50px 35px 136px;

    /* Style */
    background: linear-gradient(to left, var(--kitColor), #ffffff 120%);
    overflow: hidden;
    /* 내용물 넘침 방지 */
}

/* ▦▦▦▦▦▦▦▦▦▦▦▦▦ 콘텐츠 영역 ▦▦▦▦▦▦▦▦▦▦▦▦▦ */
.linkedin-kit-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 30px 0;
    gap: 8px;
}

.linkedin-kit-title {
    width: 100%;
    color: white;
    font-family: Pretendard;
    font-size: 50.91px;
    font-weight: 700;
    line-height: 140%;
    text-align: right;
    margin: 0 0 30px 0;
}

.linkedin-kit-role {
    width: 100%;
    color: white;
    font-family: Pretendard;
    font-size: 25.61px;
    font-weight: 500;
    line-height: 140%;
    text-align: right;
    margin: 0;
}

/* ▦▦▦▦▦▦▦▦▦▦▦▦▦ 해시태그 영역 ▦▦▦▦▦▦▦▦▦▦▦▦▦ */
.linkedin-hashtag-list {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.linkedin-hashtag-chip {
    padding: 4px 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
}